 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-1 .u-shape-1 {
  height: 1171px;
  width: 359px;
  margin: 0 auto 0 343px;
}

.u-section-1 .u-image-1 {
  width: 699px;
  height: 591px;
  margin: -920px 0 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 386px;
  width: 570px;
  margin: -771px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 42px 1px 0;
}

.u-section-1 .u-text-2 {
  font-family: Oswald, sans-serif;
  font-size: 4.25rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-list-1 {
  width: 1089px;
  margin: 332px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 13.5px));
  min-height: 293px;
  grid-gap: 18px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-shape-1 {
    height: 1126px;
    width: 418px;
    margin-left: 152px;
  }

  .u-section-1 .u-image-1 {
    width: 682px;
    height: 514px;
    margin-top: -828px;
  }

  .u-section-1 .u-group-1 {
    min-height: 349px;
    width: 515px;
    margin-top: -742px;
  }

  .u-section-1 .u-list-1 {
    width: 909px;
    margin-top: 307px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-shape-1 {
    height: 1391px;
    width: 507px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-1 {
    width: 600px;
    height: 474px;
    margin-top: -1060px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -735px;
  }

  .u-section-1 .u-list-1 {
    width: 657px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 594px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-1 .u-shape-1 {
    height: 1420px;
    width: 302px;
    margin-left: 33px;
  }

  .u-section-1 .u-image-1 {
    width: 449px;
    height: 404px;
    margin-top: -1089px;
  }

  .u-section-1 .u-group-1 {
    min-height: 324px;
    width: 478px;
    margin-top: -665px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-list-1 {
    width: 495px;
    margin-top: 297px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 629px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1917px;
  }

  .u-section-1 .u-shape-1 {
    height: 1857px;
    width: 224px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 286px;
    height: 257px;
    margin-top: -1526px;
  }

  .u-section-1 .u-group-1 {
    min-height: 303px;
    width: 286px;
    margin-top: -518px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 307px;
    margin-top: 178px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1248px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 565px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 565px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  height: 317px;
  margin: 0 0 0 -60px;
}

.u-section-2 .u-form-group-1 {
  margin-left: auto;
}

.u-section-2 .u-form-group-2 {
  margin-left: auto;
}

.u-section-2 .u-form-group-3 {
  margin-left: auto;
}

.u-section-2 .u-form-group-4 {
  margin-left: auto;
}

.u-section-2 .u-form-group-5 {
  margin-left: auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
  width: 100%;
  padding: 15px 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 565px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 565px;
  background-image: url("images/ts-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_14.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 42px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-2 .u-image-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 331px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 370px;
  }
}